<link rel="stylesheet" href="/assets/css/bootstrap.css">
<link rel="stylesheet" href="/assets/css/style.css">

<h1> Welcome to
  <img src="http://weknowyourdreams.com/images/rock/rock-08.jpg" style="height: 70px;">,
  <img src="https://i.ytimg.com/vi/w7ma8mweDGw/maxresdefault.jpg" style="height: 70px;">,
  <img src="https://images-na.ssl-images-amazon.com/images/I/71AgdoNhdML._SL1500_.jpg" style="height: 70px;">.
  Please select an option: </h1>
<ul class="list-unstyled list-inline">
  <li><a href="/rock"> Play Rock </a></li>
  <li><a href="/scissors"> Play Scissors </a></li>
  <li><a href="/paper"> Play Paper </a></li>
</ul>
